.header {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	color: var(--color-red);
	border-bottom: 1px solid var(--color-gray);
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	background-color: white;
	z-index: 2;
}
.header-pageName {
	font-size: 12px;
	color: var(--colo-red);
	flex: 1 1;
	margin-left: 10px;
}
.header-navBar {
	display: flex;
	list-style: none;
	font-size: 25px;
	margin: 0;
	padding: 0;
	flex: 1 1;
}
.header-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33%;
	border-left: 1px solid var(--color-gray);
}
@media (max-width: 600px) {
	.header-link {
		border-left: none;
	}
}
.header-link a {
	color: var(--color-gray);
}

.header-link a :hover {
	color: var(--color-red);
}
