.home {
	margin: 0 auto;
	max-width: 1200px;
}
.home-form {
	position: absolute;
	right: 50%;
	left: 50%;
	content: center;
	width: max-content;
	background-color: red;

	border: var(--color-gray) 1px solid;
}
.home-form-input {
	color: var(--color-gray);
	padding: 10px 40px 10px 10px;
	border: navajowhite;
	font-size: 14px;
}
.home-form-input::placeholder {
	color: var(--color-gray);
}
.home-form-btn {
	font-size: 14px;
	padding: 10px;
	border: none;
	color: var();
	background-color: var(--color-red);
	cursor: pointer;
}
.home-form-btn:hover {
	color: white;
}
.home-container-products {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
	justify-items: center;
	grid-template-rows: auto;
	gap: 40px;
	margin: 0 20px 20px 20px;
	cursor: pointer;
}
